<script src="~/Scripts/JS/js/jquery-3.1.1.min.js"></script>
<style type="text/css">
    .ui-dialog-titlebar-close {
        background-image: url('../../Content/Images/close.png');
    }

    .btnCustom {
        padding: 0px 12px !important;
        border-radius:25px !important;
    }
</style>
<div style="width:90%; margin:0 auto;" class="tablecontainer">
    <a class="popup btn btn-primary" href="/Ration/Save/0" style="margin-bottom:20px; margin-top:20px;">Add Ration</a>
    <table id="myDatatable" class="table table-bordered">
        <thead>
            <tr style="background:gray;color:white;">
                <th style="visibility:hidden">Packet Id</th>
                <th>Packet Id</th>
                <th>Packet Type</th>
                <th>Packet Content</th>
                <th>Calories</th>
                <th>Expiry Date</th>
                <th>Quantity</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
    </table>
</div>
<script type="text/javascript">

    $(document).ready(function () {

        var oTable = $("#myDatatable").DataTable({

            "ajax": {
                "url": "/Ration/GetData",
                "type": "get",
                "datatype": "json"
            },
            "columns": [
                { "data": "PacketId", "autoWidth": true, "visible": false },
                { "data": "PacketTypeCode", "autoWidth": true, "className": "text-center"},
                { "data": "PacketTypeName", "autoWidth": true, "className": "text-center"},
                { "data": "PacketContent", "autoWidth": true, "className": "text-center"},
                { "data": "CaloriesContent", "autoWidth": true, "className": "text-center"},
                {
                    "data": "ExpiryDate", "autoWidth": true, "className": "text-center"

                },
                { "data": "QuantityType", "autoWidth": true, "className": "text-center" },
                {
                    "data": "PacketId", "width": "50px", "render": function (data) {

                        return '<a class="popup btnCustom btn-primary" href="/Ration/Save/' + data + '">Edit</a>';
                    }
                },
                {
                    "data": "PacketId", "width": "50px", "render": function (data) {
                        return '<a class="popup btnCustom btn-danger" href="/Ration/Delete/' + data + '">Delete</a>';
                    }
                }
            ]
        });
        $('.tablecontainer').on('click', 'a.popup', function (e) {
            e.preventDefault();
            OpenPopup($(this).attr('href'));
        })
        function OpenPopup(pageUrl) {
            var $pageContent = $('<div/>');
            $pageContent.load(pageUrl, function () {
                $('#popupForm', $pageContent).removeData('validator');
                $('#popupForm', $pageContent).removeData('unobtrusiveValidation');
                $.validator.unobtrusive.parse('form');

            });

            $dialog = $('<div class="popupWindow" style="overflow:auto"></div>')
                .html($pageContent)
                .dialog({
                    draggable: false,
                    autoOpen: false,
                    resizable: false,
                    model: true,
                    title: 'Popup',
                    height: 550,
                    width: 600,
                    close: function () {
                        $dialog.dialog('destroy').remove();
                    }
                })

            $('.popupWindow').on('submit', '#popupForm', function (e) {
                var url = $('#popupForm')[0].action;
                $.ajax({
                    type: "POST",
                    url: url,
                    data: $('#popupForm').serialize(),
                    success: function (data) {
                        if (data.status) {
                            $dialog.dialog('close');
                            oTable.ajax.reload();
                        }
                    }
                })

                e.preventDefault();
            })

            $dialog.dialog('open');
        }
    });


</script>







